<app-navbar></app-navbar>
    <div class="row justify-content-center">
        <div class="col-md-4 register-employee card-style">
          <!-- form card register -->
          <div class="card-body">
    <form [formGroup]="form" (submit)="createEmployee()">
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text"  formControlName="FirstName" [ngClass]="{'is-invalid': submitted && f['FirstName'].errors}" class="form-control" placeholder="EnterFirstName"/>

            <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">

                <div *ngIf="f['FirstName'].errors['required']">FirstName is required</div>
                <div *ngIf="f['FirstName'].errors['pattern'] ">length should be of 8 characters</div>
            </div>
        </div>

        <div class="form-group">
            <label for="LastName">LastName</label>
            <input type="text"  formControlName="LastName" [ngClass]="{'is-invalid': submitted && f['LastName'].errors}" class="form-control" placeholder="EnterLastName"/>

            <div *ngIf="submitted && f['LastName'].errors" class="invalid-feedback">

                <div *ngIf="f['LastName'].errors['required']">LastName is required</div>
                <div *ngIf="f['LastName'].errors['pattern']">length should be of 8 characters</div>

            </div>

        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" formControlName="Email" [ngClass]="{'is-invalid': submitted && f['Email'].errors}" class="form-control" placeholder="Email"/>

            <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">

                <div *ngIf="f['Email'].errors['required']">Email is required</div>
                <div *ngIf="f['Email'].errors['pattern'] && form.touched">Email should be of correct format</div>

            </div>

        </div>
       
        <div class="form-group">
            <label for="Phoneno">Phoneno</label>
            <input type="text" formControlName="Phoneno" [ngClass]="{'is-invalid': submitted && f['Phoneno'].errors}" class="form-control" placeholder="Phoneno"/>
            <div *ngIf="submitted && f['Phoneno'].errors" class="invalid-feedback">
                <div *ngIf="f['Phoneno'].errors['required']">Phoneno is required</div>
                <div *ngIf="f['Phoneno'].errors['pattern'] && form.touched">Phoneno should be of correct format</div>

        </div>
     </div>

        <div class="form-group">
            <label for="Department">Department</label>
            <input type="text" formControlName="Department" [ngClass]="{'is-invalid': submitted && f['Department'].errors}" class="form-control" placeholder="Department"/>
            <div *ngIf="submitted && f['Department'].errors" class="invalid-feedback">
                

                <div *ngIf="f['Department'].errors['required']">Department is required</div>
                <div *ngIf="f['Department'].errors['pattern'] && form.touched">Department should be of 5 characters</div>

            </div>
        </div>
        <div class="form-group">
            <label for="Project">Project</label>
            <input type="text" formControlName="Project" [ngClass]="{'is-invalid': submitted && f['Project'].errors}" class="form-control" placeholder="Project"/>
        
            <div *ngIf="submitted && f['Project'].errors" class="invalid-feedback">

                <div *ngIf="f['Project'].errors['required']">Project is required</div>
                <div *ngIf="f['Project'].errors['pattern'] && form.touched">Project should be of 5 characters</div>

            </div>
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" formControlName="Address" [ngClass]="{'is-invalid': submitted && f['Address'].errors}" class="form-control" placeholder="Address"/>
        
            <div *ngIf="submitted && f['Address'].errors" class="invalid-feedback">

                <div *ngIf="f['Address'].errors['required']">Address is required</div>
                <div *ngIf="f['Address'].errors['pattern'] && form.touched">Address should be of 5 characters</div>

            </div>
        </div>
        
        <div class="form-group text-center">
            <button class="btn btn-dark btn-sm mt-4 add">Add</button>
        </div>
    </form>
</div>
</div>
</div><!-- form card register -->
