body {
    margin: 0;
    padding: 2px;
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td,
  .table th {
    padding: 10px 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
  }
  
  .table th {
    background-color: #a89380;
    /* color: #ffffff; */
  }
  
  /* .table tbody tr:nth-child(even) {
    background-color: #d1e8f5;
  } */
  
  /*responsive*/
  
  @media (max-width: 500px) {
    .table thead {
      display: none;
    }
  
    .table,
    .table tbody,
    .table tr,
    .table td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
    }
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }
  