.card-style{
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),

    0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),

    0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
    /* border:1px solid black;  */
    /* background-color: aqua; */
    
}

.add{
    background-color: blue;
    width: 70px;
}