<app-navbar></app-navbar>
<div class="row justify-content-center">
  <div class="col-md-4 register-employee card-style">
    <!-- form card register -->
    <div class="card-body">
        <form (ngSubmit)="updateEmployeeData()"  [formGroup]="form">
            <div class="form-group">
                <label for="FirstName">FirstName</label>
                <input type="text"  formControlName="FirstName"  class="form-control" placeholder="EnterFirstName"/>
            </div>
    
            <div class="form-group">
                <label for="LastName">LastName</label>
                <input type="text" formControlName="LastName"  class="form-control" placeholder="LastName"/>
    
    
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" formControlName="Email" class="form-control" placeholder="Email"/>
                
            </div>
            <div class="form-group">
                <label for="Phoneno">Phoneno</label>
                <input type="text" formControlName="Phoneno"  class="form-control" placeholder="Phoneno"/>
                
            </div>
    
            <div class="form-group">
                <label for="Department">Department</label>
                <input type="text" formControlName="Department"  class="form-control" placeholder="Department"/>
                
            </div>
            <div class="form-group">
                <label for="Project">Project</label>
                <input type="text" formControlName="Project"  class="form-control" placeholder="Project"/>
            
               
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" formControlName="Address"  class="form-control" placeholder="Address"/>
            
            </div>
            
            <div class="form-group text-center">
                <button class="btn btn-dark btn-sm mt-4 add">Edit</button>
            </div>
        </form>
    
    </div>
  </div>
</div>
