<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand">Employee Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: isCollapsed }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/add" href="#">Add Employee</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/allemp" href="#">All EmployeeList</a>
        </li>
      </ul>
    </div>
  </nav>
  
